.container-join{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
}

.join-gradient{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(25deg, #f39b2f, #F3BA2F);
}

.join-hero{
    display: flex;
    font-size: 30px;
    margin-top: 1rem;
    align-items:center;
    justify-content: center;
}

.btc-float{
    width: 65px;
    height: 65px;
    animation: move 2s infinite;
}

.eth-float{
    width: 65px;
    height: 65px;
    animation: move 2s infinite;
}

@keyframes move {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 20px);
    }
    100% {
      transform: translate(0, 0);
    }
}


.container-feature{
    display: flex;
    justify-content:space-around;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.featured-style{
    text-align: center;
    margin-top: 2rem;
}

.featured-image{
    width: 100px;
    height: 100px;
}

.slider-coin__name{
    margin-top: 15px;
    font-size: 20px;
}

.slider-coin__price{
    padding-top: 5px;
    font-size: 22PX;
}

.join-text{
    text-align: center;
}

.yellowButton{
    margin: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 2rem;
    background: linear-gradient(25deg, #f39b2f, #F3BA2F);
    color: black;
    border-radius: 10rem;
    transition: all 0.2s;
    font-weight: bold;
}

@media screen and (max-width: 720px) {
    .header-join{
        font-size: 45px;
        text-align: center;
        justify-content: center;
    }
    .join-hero{
        font-size: 30px;
        margin-top: 1rem;
        align-items:center;
    }
    .btc-float{
        display: none;
    }
    .eth-float{
        display: none;
    }
    .container-feature{
        display: none;
    }
}

